@import '../mixins.scss';
@import '../variables.scss';

.nav{
    background: $navBackground;
    color: $navColorText;
    position: fixed;
    height: 100%;
    overflow: scroll;
    min-width: 270px;
    max-width: 400px;
    gap: 60px;
    left: -110%;
    padding: 56px 48px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: .3s;
    .name_nav{
        @include adaptiv_font(40, 30, $widthResponsePX);
        font-weight: 600;
        font-style: italic;
    }
    &.active{
        left: 0;
    }
}

.top_sec_nav{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.bottom_sec_nav{
    display: flex;
    flex-direction: column;
    gap: 30px;
    .text_bottom{
        @include adaptiv_font(18, 16, $widthResponsePX);
        font-size: 16px;
        font-weight: 300;
    }
}

.menu_nav{
    li a{
        font-weight: 300;
        color: $navColorText;
        text-decoration: none;
        text-transform: uppercase;
        padding: 10px 0;
        display: inline-block;
        position: relative;
        transition: .2s;
        @include adaptiv_font(23, 20, $widthResponsePX);
        &:before{
            content: "";
            position: absolute;
            width: 0%;
            height: 2px;
            background: $mainGradient;
            top: 0;
            bottom: 0;
            left: 0;
            margin: auto 0;
            transition: 0.5s;
        }
        &:hover{
            transform: scale(1.1);
        }
        &.active{
            font-weight: 600;
            &:before{
                width: 100%;
            }
        }
    }
}

.social_network{
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
    li a{
        display: inline-block;
        transition: .3s;
        svg{
            fill: #ffffff;
            width: 40px;
            height: 40px;
        }
        &:hover{
            transform: scale(1.2);
        }
    }
}

@media (any-hover: hover) {
    .nav::-webkit-scrollbar {
        width: 0;
    }
}

@media screen and (min-width: 992px) {
    .nav{
        position: relative;
        left: auto;
        height: auto;
        width: auto;
    }
    .top_sec_nav{
        gap: 100px;
    }
}
