@import '../variables.scss';

.pages_section {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    .btn_burger{
        border: none;
        background: none;
        align-self: flex-end;
        margin: 25px 0;
        position: relative;
        width: 28px;
        height: 22px;
        transition: .3s;
        cursor: pointer;
        & span{
            position: absolute;
            width: 100%;
            height: 3px;
            border-radius: 20px;
            background-color: $backgroundBurgerBtn;
            left: 0;
            transition: .3s;
        }
        & span:nth-child(1){
            top: 0;
        }
        & span:nth-child(2){
            top: 0;
            bottom: 0;
            margin: auto 0;
        }
        & span:nth-child(3){
            bottom: 0;
        }
        &.active{
            width: 35px;
        }
        &.active span:nth-child(1){
            transform: rotate(-30deg);
            top: 5px;
            width: 58%;
            left: 0px;
        }
        &.active span:nth-child(2){

        }
        &.active span:nth-child(3){
            transform: rotate(30deg);
            bottom: 4px;
            width: 58%;
            left: 0px;
        }
    }
}

@media screen and (min-width: 992px) {
    .pages_section .btn_burger{
        display: none;
    }
}
