@import '../variables.scss';
@import '../mixins.scss';

.home_page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .content_box{
        order: 1;
    }
    .title {
        @include adaptive_font(112, 45, $widthResponsePX);
        text-transform: uppercase;
        color: $darkColor;
        position: relative;
        z-index: 2;
        &::before {
            content: '';
            z-index: -1;
            position: absolute;
            width: 250px;
            height: 60px;
            background: linear-gradient(45deg, #b86adf, #ff6c63, #ffb147) no-repeat;
            background-size: cover;
            width: 63px;
            background-position-y: -25px;
            height: 300px;
            border-right: 237px solid transparent;
            border-radius: 300px;
            margin: 20px auto;
            filter: drop-shadow(-8px -10px 5px rgba(0,0,0,0.3));            transform: rotate(237deg) translate(229px, 0px);
        }
    }
    .specialty {
        @include adaptive_font(38, 28, $widthResponsePX);
        margin: 25px 0 48px 0;
        color: $darkColor;
    }
    .contact_box {
        margin-top: 64px;
        display: flex;
        gap: 15px;
        flex-direction: column;
        li a {
            display: flex;
            align-items: center;
            gap: 12px;
            color: $darkColor;
            text-decoration: none;
            .icon {
                padding: 6px;
                background: #1413130e;
                border-radius: 50%;
            }
            .value {
                @include bold_italic_text();
                @include adaptive_font(20, 17, $widthResponsePX);
            }
            svg {
                width: 21px;
                height: 21px;
            }
        }
    }
    .name_photo{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (min-width: 576px) {
    .home_page {
        .contact_box {
            margin-top: 64px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: row;
            gap: 48px;
        }
        .name_photo{
            // display: flex;
            // flex-direction: row;
            // align-items: center;
        }
    }
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 992px) {
    .home_page {
        .contact_box {
            justify-content: space-between;
        }
    }
}


