$widthResponsePX: 1500;

$navBackground: #000000;
$navColorText: #ffffff;
$darkColor: #141313;

$firstColorGradient: #B86ADF;

$mainBackground: linear-gradient(to right, $firstColorGradient, #FF6C63,#FFB147);


$backgroundBurgerBtn: #ffffff;
$backgroundBurgerSection: #000000;

$BPSmall: 576px;
$BPMedium: 768px;
$BPSmallPC: 992px;
$BPMediumPC: 1200px;
$BPExtraHorizontalPC: 1390px;
$BPExtraHorizontalPCLarge: 1545px;

$lineBackground: rgb(201, 201, 201);

